body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.logo img {
    width: 100px; /* Ajusta el tamaño del logo */
    height: auto;
}

header h1 {
    margin: 10px 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.producto {
    display: inline-block;
    width: 30%;
    margin: 15px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.producto-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.precio {
    font-size: 1.5em;
    color: #28a745;
    font-weight: bold;
}

.caracteristicas {
    list-style-type: none;
    padding: 0;
}

.caracteristicas li {
    margin: 5px 0;
}

button.pago {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
    width: 100%;
}

button.pago:hover {
    background-color: #218838;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}